{% extends "activity_list.html" %}

{% block activity-title %}
{{ activity.name }}
{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/activity_detail.css" %}"/>
    <link href="{% static "lib/bs/datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
<script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
<script src="{% static "lib/bs/datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "lib/bs/datetimepicker/js/locales/bootstrap-datetimepicker.ZH-CN.js" %}"></script>
   
    <script>
        var activity = {
            'name': '{{ activity.name }}'{% if activity.id %},
            'id': {{ activity.id }},
            'key': '{{ activity.key|escapejs }}',
            'description': '{{ activity.description|escapejs }}',
            'pic_url': '{{ activity.pic_url }}',
            'seat_status': {{ activity.seat_status }},
            'start_time': {
                'year': {{ activity.start_time.year }},
                'month': {{ activity.start_time.month }},
                'day': {{ activity.start_time.day }},
                'hour': {{ activity.start_time.hour }},
                'minute': {{ activity.start_time.minute }}
            },
            'end_time': {
                'year': {{ activity.end_time.year }},
                'month': {{ activity.end_time.month }},
                'day': {{ activity.end_time.day }},
                'hour': {{ activity.end_time.hour }},
                'minute': {{ activity.end_time.minute }}
            },
            'place': '{{ activity.place }}',
            'book_start': {
                'year': {{ activity.book_start.year }},
                'month': {{ activity.book_start.month }},
                'day': {{ activity.book_start.day }},
                'hour': {{ activity.book_start.hour }},
                'minute': {{ activity.book_start.minute }}
            },
            'book_end': {
                'year': {{ activity.book_end.year }},
                'month': {{ activity.book_end.month }},
                'day': {{ activity.book_end.day }},
                'hour': {{ activity.book_end.hour }},
                'minute': {{ activity.book_end.minute }}
            },
            'select_start': {
                'year': {{ activity.select_start.year }},
                'month': {{ activity.select_start.month }},
                'day': {{ activity.select_start.day }},
                'hour': {{ activity.select_start.hour }},
                'minute': {{ activity.select_start.minute }}
            },
            'select_end': {
                'year': {{ activity.select_end.year }},
                'month': {{ activity.select_end.month }},
                'day': {{ activity.select_end.day }},
                'hour': {{ activity.select_end.hour }},
                'minute': {{ activity.select_end.minute }}
            },
            'group_interval': {{activity.group_interval}},
            'total_tickets': {{ activity.total_tickets }},
            'total_price' : "{{ activity.total_price}}",
            'group_size' : {{ activity.group_size}},
            'status': {{ activity.status }}{% else %},
            'status': 0{% endif %}{% if activity.tickets_ready %},
            'checked_tickets': {{ activity.checked_tickets }},
            'ordered_tickets': {{ activity.ordered_tickets }}{% endif %}
        }
    </script>
    <script src="{% static "js/activity_detail.js" %}"></script>
{% endblock %}

{% block activity-list-active %}{% endblock %}

{% block nav-li-ext %}
    <li class="{% block activity-detail-active %}active{% endblock %}">
        <a href="{% if activity.id %}
        {% url "adminpage.views.activity_detail" actid=activity.id %}
        {% else %}
        {% url "adminpage.views.activity_add" %}
        {% endif %} ">{{ activity.name }}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container" id="detail-noscript">
        <noscript>请开启JavaScript后重试。</noscript>
    </div>
    <div class="container" id="detail-form" style="display: none;">
        <form class="form-horizontal" role="form" method="post" action="{% url "adminpage.views.activity_post" %}" id="activity-form">
           {% csrf_token %}
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label" id="label-input-name">活动名称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="26" name="name"
class="form-control" id="input-name" placeholder="活动名称，如 马兰花开" autofocus required>
                </div>
            </div>

            <div class="form-group">
                <label for="input-key" class="col-sm-2 control-label">活动代称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="12" name="key"
class="form-control" id="input-key" placeholder="用户用于订票的活动代称，推荐使用中文(少于7个字)，如 马兰花开" required>
                </div>
            </div>

            <div class="form-group">
                <label for="input-place" class="col-sm-2 control-label">活动地点</label>
                <div class="col-sm-10">
                    <input type="text" name="place" class="form-control"
id="input-place" placeholder="活动地点，如 大礼堂" required>
                </div>
            </div>

            <div class="form-group">
                <label for="input-description" class="col-sm-2 control-label">活动简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" rows="3" id="input-description" placeholder="描述，如 好看的舞台剧" row="3" style="resize: none;"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label for="input-pic_url" class="col-sm-2 control-label" min="0">活动配图</label>
                <div class="col-sm-10">
                   <input type="url" name="pic_url" class="form-control"
id="input-pic_url" min="0" placeholder="请填入图片链接" required> 
               
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label for="input-start-year" class="col-sm-2 control-label">活动开始</label>
                <div class="form-inline col-sm-10" id="input-start_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-start-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-minute">分</label>
                    </div>
                </div>
            </div>

             <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">活动开始</label>
                <div id = "activity-start" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="activity-start-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>

            <div class="form-group" style="display:none">
                <label for="input-end-year" class="col-sm-2 control-label">活动结束</label>
                <div class="form-inline col-sm-10" id="input-end_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-minute">分</label>
                    </div>
                </div>
            </div>
            
             <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">活动结束</label>
                <div id = "activity-end" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="activity-end-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>

            <div class="form-group">
                <label for="input-total_tickets" class="col-sm-2 control-label">总票数</label>
                <div class="col-sm-10">
                    <input type="number" name="total_tickets" class="form-control"
id="input-total_tickets" min="1" placeholder="此次活动通过“紫荆之声”的发票总数，如 1000" required>
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label for="input-book-start-year" class="col-sm-2 control-label">订票开始</label>
                <div class="form-inline col-sm-10" id="input-book_start">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-book-start-year" value=""
                               name = "book_start_time_year" date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-minute">分</label>
                    </div>
                </div>
            </div>

             <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">订票开始</label>
                <div id = "book-start" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="book-start-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>


            <div class="form-group" style="display:none">
                <label for="input-book-end-year" class="col-sm-2 control-label">订票结束</label>
                <div class="form-inline col-sm-10" id="input-book_end">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-book-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-minute">分</label>
                    </div>
                </div>
            </div>

             <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">订票结束</label>
                <div id = "book-end" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="book-end-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>


            <div class="form-group" id="progress-tickets">
                <label class="col-sm-2 control-label">订票与入场情况</label>
                <div class="col-sm-10">
                    <div class="progress progress-in-form">
                      <div class="progress-bar progress-bar-success" id="tickets-checked" style="width: 0%">
                      </div>
                      <div class="progress-bar progress-bar-warning" id="tickets-ordered" style="width: 0%">
                      </div>
                      <div class="progress-bar progress-bar-danger" id="tickets-remain" style="width: 0%">
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">座位分配设置</label>
                <div class="col-sm-10">
                    <select name="seat_status" id="input-seat_status" class="form-control" required onchange="selectSeat()">
                        <option value="0">不分配座位</option>
                        <option value="1">新清华学堂</option>
                        <option value="2">蒙民伟音乐厅</option>
                    </select>
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label for="input-select-end-year" class="col-sm-2 control-label">选座结束</label>
                <div class="form-inline col-sm-10" id="input-select_end">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-select-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-end-minute">分</label>
                    </div>
                </div>
            </div>

             <div class="form-group allocateSeat">
                <label for="dtp_input1" class="col-md-2 control-label">选座开始</label>
                <div id = "seat-start" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="seat-start-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>

        <div class="form-group" style="display:none">
                <label for="input-select-start-year" class="col-sm-2 control-label">选座开始</label>
                <div class="form-inline col-sm-10" id="input-select_start">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-select-start-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-select-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-select-start-minute">分</label>
                    </div>
                </div>
            </div>

             <div class="form-group allocateSeat">
                <label for="dtp_input1" class="col-md-2 control-label">选座结束</label>
                <div id = "seat-end" class="input-group date form_datetime col-md-5"  data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly="" id="seat-end-input" onchange="checkTime()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="1979-09-20 02:30:07"><br>
            </div>

            <div class="form-group allocateSeat">
                <label for="input-group_price" class="col-sm-2 control-label">阶段抢票人数</label>
                <div class="col-sm-10">
                    <input type="number" name="group_size" class="form-control" id="input-group_size" min="1" placeholder="请输入阶段抢票人数">
                </div>
            </div>
            <div class="form-group allocateSeat">
                <label for="input-group_interval" class="col-sm-2 control-label">阶段抢票时间</label>
                <div class="col-sm-10">
                    <input type="number" name="group_interval" class="form-control" id="input-group_interval" min="1" placeholder="请输入阶段抢票时间">
                </div>
            </div>
            <div class="form-group allocateSeat">
                <label for="input-total_price" class="col-sm-2 control-label">票价</label>
                <div class="col-sm-10">
                    <input type="text" name="total_price" class="form-control" id="input-total_price" min="1" placeholder="请输入票价，以空格隔开">
                </div>
            </div>



                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="publishMyActivity()" class="btn btn-primary" id="publishBtn">发布</button>
                    <button type="submit" class="btn btn-default" id="saveBtn">暂存</button>
                    <button type="reset" class="btn btn-warning" id="resetBtn">重置</button>
                    {% if activity.id %}
                    <a href = "{% url "adminpage.views.activity_select_seat_lecture" actid=activity.id %}"
                        <button type="button" class="btn btn-warning" id="selectBtn">添加修改自定义座位</button>
                    </a>
                    {% endif %}
                    
                </div>
            </div>

        </form>
    </div>

    <div class="container" id="detail-processing" style="display: none;">
        <img src="{% static "img/loading.gif" %}">
        正在执行，请稍候……
    </div>

    <div class="container" id="detail-result" style="display: none;">
        <h1>处理结果</h1>
        <pre id="resultHolder"></pre>
        <div class="col-sm-offset-2">
            <button class="btn btn-info" id="continueBtn">继续修改或添加座位</button>
            <a class="btn btn-success" href="{% url "adminpage.views.activity_list" %}">返回列表</a>
        </div>
    </div>

   </body>
   </html>
   
{% endblock %}
