<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <link href="{% static "css/chooseSeatBase_yt.css" %}" rel="stylesheet" type="text/css" />

    <!--link href="{% static "css/chooseSeatBase.css" %}" rel="stylesheet" type="text/css" /-->
    <title>清华紫荆之声</title>
    <script src="{% static "lib/jquery/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/userSelectSeat_yt.js" %}">
    </script>
</head>

<body>
    <header id = "header">
            选座
    </header>
    <div id="wrap">
    <hr/>
    <div id="mainbody">
    <div id="mainContent" style="position:relative;">
                <div class = "XQ"  style="display: block;">
                  <div class="regionSelectDiv XQ_A" onclick="showSeat_yt('XQ','A');"></div>
                  <div class="regionSelectDiv XQ_B" onclick="showSeat_yt('XQ','B');"></div>
                  <div class="regionSelectDiv XQ_C" onclick="showSeat_yt('XQ','C');"></div>
                  <div class="regionSelectDiv XQ_D" onclick="showSeat_yt('XQ','D');"></div>
                    <div class="regionSelectDiv XQ_BB" onclick="showSeat_yt('XQ','BB');"></div>
                    <div class="regionSelectDiv XQ_CC" onclick="showSeat_yt('XQ','CC');"></div>
                    <div class="regionSelectDiv XQ_DD" onclick="showSeat_yt('XQ','DD');"></div>
                </div>
                <div class = "DLT" style="display: none;">
                      <div class="regionSelectDiv DLT_A" onclick="showSeat(1);"></div>
                      <div class="regionSelectDiv DLT_B" onclick="showSeat(2);"></div>
                      <div class="regionSelectDiv DLT_C" onclick="showSeat(3);"></div>
                </div>
                <div class="Information" style="display: none;">
                  <div class="Info_Activity">
                    <div class = "activity" style="float:left">
                      <h3>迭代三</h3>
                      <h6>六教 2014年2月1日 14:00</h6>
                    </div>
                      <div class="confirm" onclick="confirm()">确认</div>
                  </div>
                  <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)"
                  width="100%" color="#987cb9" SIZE=1/>
                  <div class = "seatSelect" style="float:left">
                      <h6 class="seatSelectWord">您已经选择了</h6>
                      <div class="seatSelectSeats"></div>
                      <h6 class="totalPrice">180元</h6>
                  </div>
                  <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)"
                  width="100%" color="#987cb9" SIZE=1/>
                  <div class="screen"><h6>银幕方向</h6></div>
                  <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)"
                  width="100%" color="#987cb9" SIZE=1/>
                  <div class="illustration" id = "illustration" >

                  </div>
                  <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)"
                  width="100%" color="#987cb9" SIZE=1/>

                  <div class="seat">
                  </div>
                  <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)"
                    width="100%" color="#987cb9" SIZE=1/>
                    <div class="buttons">
                    <div class="back" onclick="back()">返回</div>
                    </div>
                </div>
            </div>
        <!--div id="seat" style="display:none;position:absolute;width:100%;background-color: rgba(50,50,50,1);z-index:999;min-height:85%;">
           <h2 id="place" style =" margin-top:5%; color: red; text-align:center;"></h2>
        </div>
        <div id="successHolder" style="display: none">
            <img src="{% static "img/success.png" %}" />
        </div-->
    </div>

    </div>

</body>
</html>