.default-seat{
    width: 25px;
    height: 25px;
    cursor: pointer;
	background: gray;
	padding: 2px;
	border: 2px solid #fff;
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;
}

.price-seat{
	width: 75px;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    padding: 2px;
	border: 2px solid #fff;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.center{
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainWidth{
	width: 80%;
}
.retc{
	position: relative;
	min-height: 200px;
	height: auto!important;
	height: 200px;
	width:100%;
}

.place{
	text-align: left;
	font-weight: bold;
}

.seat{
	position: relative;
	height: 400px;
	width: 30%;
	background: url(/static1/img/seat_xq.png) no-repeat; 
	background-size: contain;
	left: 50%;
	margin-top: -25%;
}
.selectA{
	position: relative;
	top: 5%;
	left: 40%;
	width: 20%;
	height: 25%;
	text-align: center;
	cursor: pointer;
}

.selectB{
    height: 10%;
    width: 20%;
    top: 16%;
    left: 40%;
    position: relative;
    cursor: pointer;
}

.selectC{
    position: relative;
    width: 20%;
    height: 15%;
    top: 22%;
    left: 40%;
    cursor: pointer;
}
.selectD{
    position: relative;
    width: 20%;
    height: 15%;
    top: 22%;
    left: 40%;
    cursor: pointer;
}
.cursor{
	position: relative;
    top: -30px;
    width: 162px;
    height: 30px;
    border: 2px solid pink;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    margin: 0 auto;
    left: -40px;
    display: none;
    text-align: center;
}
.seatNum{
	position: relative;
	left: 10%;
	width: 30%;
}

.colNum{
	width: 50px;
	height: 25px;
	cursor: pointer;
	text-align: center;
}

.seatCursor{
	position: relative;
	margin-top: -40px;
	margin-left: 0px;
	display: none;
	color: red;
	text-align: center;
	border: 1px solid black;
	-webkit-border-radius: 5px;
}