html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body
{
    margin:0px;
    font-family:"寰蒋闆呴粦","榛戜綋","瀹嬩綋";
    font-size: 12px;
    line-height: 1.428571429;
    background-color: rgb(100,100,100);
    color: #423932;
}
hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  width: 90%;
  border-top: 1px solid #CDCECF;
}
footer,
header {
  display: block;
}
.header-img{
    width: 100%;
}
.theme{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px 0px 5px;
    word-break: break-all;
}
h7{
    font-size: 14px;
}
h8{
    font-size: 12px;
}
h9{
    font-size: 11px;
}

html, body, #wrap {
    height: 100%;
}
body > #wrap {
    height: auto;
    min-height: 100%;
}

#footer {
    position: relative;
    /*margin-top: -60px; /* minus footer height */
    height: 37px; /* a little smaller than 50 to avoid scroll*/
    clear:both;
    text-align: center;
}
.threeButton{
  background-color: rgb(150,150,150);
  cursor: pointer;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 20px;
}
.smallSeat{
  cursor: pointer;
  float: left;
  background: url(https://raw.githubusercontent.com/0Calorie/tsinghuatuan/master/img/seat2.png) no-repeat center;
  background-size: contain;
  text-align: center;
}
.sectionDiv{
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  background-color: rgba(200,200,200,0.49);
}
.regionSelectDiv{
  margin-left:10%;
  float:left; 
  font-size:20px; 
  cursor:pointer;
  background:rgba(200,200,200,0.2);
  /* position: absolute; */
  /* top: 10%; */
  /* width: 30%; */
  /* height: 20%; */
}
.aRowOfSeats{
}
.rowIndex{
  float: left;
  text-align: center;
  overflow: hidden;
}
.columnIndex{
  float: left;
  text-align: center;
}
.clearBoth{
  clear: both;
}
#selectRegion{
  background-repeat: no-repeat;
  /* height: 400px; */
  padding-bottom: 50%;
  padding-top: 50%;
  background-size: contain;
}
.DLT{
  background-image: url(https://raw.githubusercontent.com/0Calorie/tsinghuatuan/master/img/seat_dlt_word.png);
}
.XQ{
  background-image: url(https://raw.githubusercontent.com/0Calorie/tsinghuatuan/master/img/seat_xq.png);
}
.DLT_A{
    position: absolute;
    top: 18%;
    left: 8%;
    height: 48%;
    width: 65%;
    z-index: 10;
}
.DLT_B{
    position: absolute;
    top: 20%;
    left: -5%;
    width: 90%;
    height: 47%;
    z-index: 8;
}
.DLT_C{
    position: absolute;
    top: 68%;
    left: 15%;
    height: 14%;
    width: 50%;
    z-index: 6;
}
.XQ_D{
    position: absolute;
    top: 40%;
    left: %;
    height: 46%;
    width: 83%;
    z-index:2;
}
.XQ_C{
    position: absolute;
    top: 20%;
    left: 6%;
    height: 50%;
    width: 70%;
    z-index: 6;
}
.XQ_B{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 53%;
    height: 45%;
    z-index: 8;
}
.XQ_A{
    position: absolute;
    top: 5%;
    left: 21%;
    height: 30%;
    width: 40%;
    z-index: 10;
}